body {
    overscroll-behavior: contain;
    overflow: hidden;
}

.fullscreen {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fullscreen > * {
    pointer-events: auto;
}

#button_left {
    position: absolute;
    bottom: 30vmin;
    right: 50vmin;
}

#button_right {
    position: absolute;
    bottom: 30vmin;
    right: 10vmin;
}

#button_up {
    position: absolute;
    bottom: 50vmin;
    right: 30vmin;
}

#button_down {
    position: absolute;
    bottom: 10vmin;
    right: 30vmin;
}

#messages {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 0 0 5px white;
}
