body {
    overscroll-behavior: contain;
}

.fullscreen {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fullscreen > * {
    pointer-events: auto;
}

#button_left {
    position: absolute;
    bottom: 15vw;
    right: 25vw;
}

#button_right {
    position: absolute;
    bottom: 15vw;
    right: 5vw;
}

#button_up {
    position: absolute;
    bottom: 25vw;
    right: 15vw;
}

#button_down {
    position: absolute;
    bottom: 5vw;
    right: 15vw;
}

#buttons > * {
    scale: calc(10vw / 100px);
}

#messages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 0 0 5px white;
}